/* ======================================================================
	Categories
======================================================================== */
.categories li {
  float: left;
  position: relative;
  width: 333px;
  height: 382px; }
