/* ======================================================================
  Settings
======================================================================== */

/**
 * @type Bool | Color schemes
 */

$bg-body-color:                               #FFF;


$color-primary-brand:                         #4A4A4A;
$color-secundary-brand:                       #FFF;
$color-third-brand:                           #0082CA;


// Images
// -------------------------
$bg-body:                                     "../img/bg-twitter.jpg";
$bg-fichas:                                   "../img/bg-detail.jpg";
$bn-gracias:                                  "../img/bn-gracias.jpg";


// Font-size
// -------------------------
$font-size-title:                             54px;
$font-size-title-block:                       48px;
$font-size-text-block:                        18px;


// Others
// -------------------------
$content-width:                               1024px;



// Grid breackpoints
$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 1023px,
  lg: 1200px
);

// Z index site blocks
$zindex: (
  block-home: 10,
  lang: 10
);