/* ======================================================================
	  Buttons
	======================================================================== */


$font-size-btn:                 18px;
$font-size-btn-back:            14px;

$icon-arrow-back:               "../../../srcdigital/linkedin/img/icon-arrow-back.png";


.btn {
  color: $color-secundary-brand;
  @include rem(font-size, $font-size-btn);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: $color-third-brand;
  border: 0;
  padding: 10px 15px;
  display: inline-block;
}

.btn-back {
  color: $color-third-brand;
  @include rem(font-size, $font-size-btn-back);
  text-decoration: none;
  background-image: url($icon-arrow-back);
  background-position: 0 2px;
  background-repeat: no-repeat;
  padding-left: 15px;
  margin: 15px 0 85px;
  float: left;
  &:hover {
    text-decoration: underline;
  }
}