/* ======================================================================
	Other Menu
======================================================================== */

$font-size-other-menu-title:             18px;
$font-size-other-menu-text:              14px;

$border-color-other-menu:            #B6B6B6;
$bg-other-menu-content:               #F7F7F7;



.other-menu {
  li {
    float: left;
    border-right: 1px solid $border-color-other-menu;
    margin-right: 15px;
    padding-right: 15px;
    width: 234px;
    position: relative;
    &.last {
      border-right: 0;
      margin-right: 0;
      padding-right: 0;
      .other-menu__content {
        background: none !important;
      }
    }
  }
  &__content {
    background-color: $bg-other-menu-content;
    padding: 15px;
    min-height: 210px;
  }
  h2 {
    @include rem(font-size, $font-size-other-menu-title);
    margin: 0 0 10px;
  }
  p {
    @include rem(font-size, $font-size-other-menu-text);
    margin: 0 0 25px;
  }
  a {
    color: $color-third-brand;
    @include rem(font-size, $font-size-other-menu-text);
    font-weight: 700;
    text-decoration: none;
    position: absolute;
    display: block;
    left: 15px;
    bottom: 15px;
    &:hover {
      text-decoration: underline;
    }
  }
  .prox {
    font-weight: 700;
    margin: 0;
    position: absolute;
    left: 15px;
    bottom: 15px;
  }
}