/* ======================================================================
	Share
======================================================================== */

.share {
  padding-left: 35px;
  li {
    float: left;
    margin-right: 10px;
  }
  a {
    display: block;
  }
}