/* ======================================================================
	  Fonts
	======================================================================== */


$font-family-base:                            Arial, Helvetica, sans-serif;
$font-family-secundary:                       'Abril Fatface', cursive;


$font-size-base:                                                    16px;
$line-height-base:                            1.428571429; // 20/14