/* ======================================================================
	  Fonts
	======================================================================== */

$font-family-base:                            Arial, Helvetica, sans-serif;
$font-family-dancing:                        'Dancing Script', cursive;
$font-family-play:                           'Playfair Display', serif;



$font-size-base:                              16px;
$line-height-base:                            1.428571429; // 20/14