/* ======================================================================
	Forms
======================================================================== */

$font-size-title-form:             24px;
$font-size-input-form:             14px;
$font-size-label-error:            14px;

$color-label-error:                #0000FF;


.form {
  text-align: center;
  position: absolute;
  margin-left: -390px;
  padding: 135px 0 50px;
  left: 50%;
  top: 4200px;
  width: 780px;
  &__content {
    margin: 0 auto;
    width: 100%;
    @extend %clearfix;
  }
  h3 {
    color: $color-third-brand;
    font-family: $font-family-play;
    @include rem(font-size, $font-size-title-form);
    font-weight: 400;
    text-transform: uppercase;
    margin: 25px 0 30px;
    span {
      font-weight: 700;
    }
  }
  p {
    @include rem(font-size, $font-size-text);
    margin: 0;
  }
  a {
    color: $color-secundary-brand;
    text-decoration: underline;
  }
  &__input-box,
  input[type="text"] {
    text-align: left;
  }
  &__input-box {
    float: left;
    margin: 0 10px 20px;
    width: 369px;
  }
  input[type="text"] {
    background-color: $color-third-brand;
    color: $color-primary-brand;
    @include rem(font-size, $font-size-input-form);
    border: 0;
    padding: 15px;
    width: 100%;
  }
  .btn {
    cursor: pointer;
    width: 180px;
  }
  label {
    &.error {
      color: $color-label-error;
      @include rem(font-size, $font-size-label-error);
    }
  }
}