/* ======================================================================
	Forms
======================================================================== */


$font-size-input-form-title:       30px;
$font-size-input-form:             18px;
$font-size-label-error:            14px;

$color-input:                      #686868;
$color-input-border:               $color-input;
$color-label-error:                #CC0000;



.form__title {
	font-family: 'Zilla Slab', serif;
	font-weight: 300;
	font-size: 21px;
	line-height: 25px;
	color: #fff;
	text-transform: uppercase;
	margin: 110px 0 0 0;
	text-align: center;
}
.form__title span{
	color: #03386E;
	font-weight: bold;
}

.form {
  color: $color-input;
  text-align: center;
  position: absolute;
  margin-left: -300px;
  left: 50%;
  top: 4670px;
  width: 600px;
  &__content {
    margin: 0 auto;
    width: 610px;
    @extend %clearfix;
  }
  &__input-box,
  input[type="text"] {
    text-align: left;
  }
  &__input-box {
    float: left;
    margin: 0 10px 20px;
    width: 285px;
  }
  input[type="text"] {
    background-color: $color-secundary-brand;
    color: $color-input;
    @include rem(font-size, $font-size-input-form);
    border: none;
    padding: 15px;
    width: 100%;
  }
  .btn {
    cursor: pointer;
    width: 180px;
	background-color: #F3CD3E;
	color: #083C59;
	border-radius: 5px;
  }
  label {
    &.error {
      color: $color-label-error;
      @include rem(font-size, $font-size-label-error);
    }
  }
}
