/* ======================================================================
	  Buttons
	======================================================================== */


$font-size-btn:                 18px;
$font-size-btn-back:            14px;

$icon-arrow-back:               "../img/icon-arrow-back.png";


.btn {
  color: $color-secundary-brand;
  @include rem(font-size, $font-size-btn);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #E26B1E;
  border: 0;
  margin-top: 20px;
  padding: 10px 15px;
  display: inline-block;
}

.btn-back {
  color: $color-secundary-brand;
  @include rem(font-size, $font-size-btn-back);
  text-decoration: none;
  background-image: url($icon-arrow-back);
  background-position: 0 2px;
  background-repeat: no-repeat;
  padding-left: 15px;
  margin: 15px 0 100px 14px;
  float: left;
  &:hover {
    text-decoration: underline;
  }
}

.btn-close-modal {
  color: #000;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 70px;
  &:hover {
    text-decoration: underline;
  }
}