/* ======================================================================
	Layout
======================================================================== */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: $color-primary-brand;
  font-family: $font-family-base;
  font-weight: 400;
  @include rem(font-size, $font-size-base);
  line-height: $line-height-base;
}

.content {
  @extend %clearfix;
  margin: 0 auto;
  padding: 0 15px;
  width: $content-width;
  position: relative;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}