/* ======================================================================
	  Fonts
	======================================================================== */


$font-family-base:                            'Open Sans', sans-serif;
$font-family-titles:                          'Open Sans', sans-serif;


$font-size-base:                              16px;
$line-height-base:                            1.428571429; // 20/14
